.header{
    display: flex;
    justify-content:space-around;
    align-items:center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.xSymbole{
    color:rgb(31, 201, 201);
    font-size: 33px;
    font-weight: bold;
}
.oSymbole{
    color:rgb(170, 170, 9);
}
.turn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #080e14;
    border-radius: 10px;
    box-shadow: 0px 3.5px 8px rgb(0, 0, 0);
    background-color: #141c24;

}
.turn div{
    font-size: 23px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.678);
}
.xSymboleTurn{
    font-size: 25px;
    font-weight: bold;
    color:rgb(170, 170, 9); ;
}
.reset{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    color: #080e14;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.459);
}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    color: #ffffff;
    background-color: rgba(226, 8, 8, 0.87);
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(197, 55, 55, 0.87);
    border: none;
}
@media screen and (max-width:157px)  {
    .header{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items:center;
        align-content: stretch;
        margin-top: 10px;
        
    }
    .icon{
        margin-bottom: 20px;
        
    }
    .start{
        width: 100%;
        height: 50px;
        font-size: 20px;
        
    }
    .turn{
        width: 95px;
        margin-right: 5px;
    }
    
}

@media screen and (min-width:157px) and (max-width:166px){
    .header{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items:center;
        align-content: stretch;
        margin-top: 20px;
        
    }

    .start{
        width: 90px;
        height: 50px;
        font-size: 20px;
    }
    .icon{
        margin-bottom: 20px;
        
    }
    .turn{
        width: 110px;
        
    }
    
    
}
@media screen and (min-width:167px) and (max-width:212px){
    .header{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items:center;
        align-content: stretch;
        margin-top: 20px;
        
    }

    .start{
       
      
        width: 110px;
        height: 50px;
        font-size: 20px;
        
    }
    .icon{
        margin-bottom: 20px;
        margin-right: 100px;
        margin-left: 100px;
    }
    .turn{
        width: 110px;
        
    }
    
    
}
